<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	  
<head>
	<title>Доступ запрещен!</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<link rel="shortcut icon" href="/favicon.ico" />

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" href="../static/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css" />
	
	<script th:src="@{/js/modernizr.min.js}" src="../static/js/modernizr.min.js"></script>

</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8 offset2" id="content">
				&nbsp;
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8 offset2" id="alert">
				<div class="alert alert-danger">
					<h4>Доступ запрещен.</h4>
					<br />
					<p><b>Привышен лимит подключений под Вашим именем.</b></p>
					<p>Вам необходимо выйти из предидущих сессий или обратиться к администратору.</p>
					<p><a href="./home.html" th:href="@{/home}">Просмотреть текущие подключения, отключить или переподключить.</a></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
